@import "tailwindcss";

body {
  overflow-x: hidden;
  margin: 0;
  background: #f2fdff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2c9eb779;
}

::-webkit-scrollbar-thumb {
  background: #2c9db7;
}

::-webkit-scrollbar-thumb:hover {
  background: #2c9db7;
}

@theme {
  --color-primary: #2c9db7;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}
